<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style_jm.css' />
  </head>

  <body>
    <header>
      <div id="header" class="container clearfix">
        <div class="flex-container">
          <!-- On veut un logo assez gros, dont la taille va diminuer au défilement (jusque barre nav vide) -->
          <div class="logo fl">
            <h1>Voter ou ne pas voter</h1>
          </div>
          <!-- (caché) image MENU BURGER (activateur) -->
          <div id="menu-burger" class="menu-burger fr tablet1">
            <img data-activate="modale-menu" class="activator" src="img/varia/menu-burger.svg" alt="bouton pour faire apparaître le menu"
              aria-controls="modale-menu">
          </div>
          <!-- NAVIGATION PRINCIPALE -->
          <div id="menu-complet" class="menu-complet tablet1-hidden clearfix">
            <nav class="fr">
              <ul>
                <li>
                  <a href="#section1" class="nav-link button">Section 1</a>
                </li>
                <li>
                  <a href="#section2" class="nav-link button">Section 2</a>
                </li>
                <li>
                  <a href="#section3" class="nav-link button">Section 3</a>
                </li>
                <li>
                  <a href="#section4" class="nav-link button">Section 4</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- fin du flex -->
      </div>
      <!-- fin du container -->
    </header>
    <!-- fin du header -->

    {% block body %}{% endblock %}
  </body>
</html>
