/* PROPRIÉTÉS GÉNÉRALES - 
reprises de Jean-François Pépin et de Boilerplate (clearfix)
et inspirées de la méthodologie 'Atomic' */

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

nav ul, .clean-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.fl{
    display: block;
    float: left;
}

.fr{
    display: block;
    float: right;
}

/* code Jean-Marie Coen */ 
/* repris de exercice Intgégration-2-x (menu dynamiques) */
/* et de l'exercice Animation-4-2 (one pager dynamique) */

body{
    color: black;
    font-family: 'Roboto', sans-serif;
}

.container{
    position: relative;
    max-width: 75rem; /* 1200px */
    width: 95%;
    margin: 0 auto;
}

section {
    padding-top: 6.25rem; /* 100 px */
}

/* !! Temporaire: Couleurs de fond des Sections !! */

#section1{
    background-color: green;
}
  
#section2{
    background-color: white;
}

#section3 { 
    padding-top: 0; 
    /* parce que sinon décalage de l'image de fond */
  /* couleur: pas de couleur, parce que sinon elle masque l'image du singe */
}
  
#section4{
    background-color: yellow;
}
  
/* -------------------------------------- */
/* FENÊTRE MODALE du menu mobile (caché en mobile et en tablet1) */
/* ---------- (code: JF Pépin) ---------- */

#modale-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
  }
  
  #modale-menu .overlay{
    opacity: 1;
    transition: opacity .5s;
  }
  
  .modale-menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;
    padding: 2rem;
    width: 50%;
    max-width: 30em;
    text-align: left;
  }
  
  .modale-menu li {
    text-transform: uppercase;
    border-bottom: solid 1px white;
  }
  
  .modale-menu li:first-child {
    border-top: solid 1px white;
  }
  
  .modale-menu a{
    display: block;
    padding: 1rem;
  }

/* FENÊTRE MODALE (code: JF Pépin) */

.modale-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    /* !!! webkit compatibilité ??? */
  }
  
  .hidden{
    display: none !important;
  }
  
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
  }
  
/* ------------------------- */
/* HEADER (Logo et Menu-Nav) */
/* ------------------------- */

#main-header{
    background-color: lightgrey;
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* Dans le js, la classe ci-dessous va s'appliquer sur le H1, de
façon à réduire la taille du header. Mais on pourrait l'appliquer 
sur un autre élément (le logo, ou le header lui-même par exemple). */
.header-Mince{
  margin: 0;
}

header h1{
  transition: all 0.5s;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
    height: auto;
}

header nav li {
    display: inline-block;
    margin-right: 5px;
}

header nav li:last-child{
    margin-right: 0;
}

button,
header nav a,
header nav button {
    display: block;
    padding: 10px;
    background-color: brown;
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
}

.call-to-action{
    background-color: black;
}
  
/* --------------------------- */
/*     Section 1 : keyframe    */
/* --------------------------- */
